<ion-header>
  <ion-toolbar>
    <ion-title>Design</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="isLoading">
    <ion-card-content>Loading design...</ion-card-content>
  </ion-card>

  <ion-card *ngIf="errorMessage">
    <ion-card-content>{{ errorMessage }}</ion-card-content>
  </ion-card>

  <ng-container *ngIf="design">
    <div class="hero-image">
      <img *ngIf="primaryImage" [src]="primaryImage" [alt]="design.title" />
    </div>
    <h2>{{ design.title }}</h2>
    <p class="subtitle">{{ design.designerName }}</p>

    <p>{{ design.description }}</p>

    <ion-list *ngIf="design.fabricOptions.length">
      <ion-list-header>
        <ion-label>Fabric</ion-label>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="selectedFabricId">
        <ion-item *ngFor="let option of design.fabricOptions">
          <ion-label>{{ option.name }}</ion-label>
          <ion-note slot="end">
            +{{ option.priceAdjustment | number: '1.0-0' }}
          </ion-note>
          <ion-radio slot="start" [value]="option.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list *ngIf="design.sizePricings.length">
      <ion-list-header>
        <ion-label>Size</ion-label>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="selectedSizeLabel">
        <ion-item *ngFor="let pricing of design.sizePricings">
          <ion-label>{{ pricing.sizeLabel }}</ion-label>
          <ion-note slot="end">
            +{{ pricing.priceAdjustment | number: '1.0-0' }}
          </ion-note>
          <ion-radio slot="start" [value]="pricing.sizeLabel"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list *ngIf="design.addOns.length">
      <ion-list-header>
        <ion-label>Add-ons</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let addOn of design.addOns">
        <ion-checkbox
          slot="start"
          [checked]="isAddOnSelected(addOn.id)"
          (ionChange)="toggleAddOn(addOn.id)"
        ></ion-checkbox>
        <ion-label>{{ addOn.name }}</ion-label>
        <ion-note slot="end">+{{ addOn.price | number: '1.0-0' }}</ion-note>
      </ion-item>
    </ion-list>

    <div class="price">
      {{ total | number: '1.0-0' }} {{ design.currency }}
    </div>

    <ion-button class="cta" expand="block" (click)="startOrder()">
      Start order
    </ion-button>
  </ng-container>
</ion-content>
