.section-header {
  padding: 16px 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-header h2 {
  margin: 0 0 4px;
}

.section-header p {
  margin: 0;
  color: #5b5b5b;
}

.section-header a {
  color: var(--ion-color-primary);
  font-weight: 600;
}
