<ion-header>
  <ion-toolbar>
    <ion-title>Incoming orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/designer/orders/1">
      <ion-label>
        <h3>STZ-20260210-1023</h3>
        <p>Ready for pickup</p>
      </ion-label>
      <ion-badge color="secondary">New</ion-badge>
    </ion-item>
    <ion-item routerLink="/designer/orders/2">
      <ion-label>
        <h3>STZ-20260209-1104</h3>
        <p>In progress</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
