<ion-header>
  <ion-toolbar>
    <ion-title>Manage designs</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/designer/designs/new">New</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/designer/designs/1/edit">
      <ion-label>
        <h3>Royal Agbada</h3>
        <p>Published · 12 orders</p>
      </ion-label>
    </ion-item>
    <ion-item routerLink="/designer/designs/2/edit">
      <ion-label>
        <h3>Classic Gown</h3>
        <p>Draft · 0 orders</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
