<ion-header>
  <ion-toolbar>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Balance</ion-card-title>
      <ion-card-subtitle>Designer earnings</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="balance">NGN 120,450</div>
      <ion-button class="primary" expand="block">Withdraw</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Transactions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Recent payouts and escrow releases will show here.
    </ion-card-content>
  </ion-card>
</ion-content>
