<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Order delivered</h3>
        <p>Your order STZ-20260208-4192 has arrived.</p>
      </ion-label>
      <ion-note slot="end">2h</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Designer update</h3>
        <p>Maison Atelier marked your order as ready.</p>
      </ion-label>
      <ion-note slot="end">1d</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
